.hero {
    width: 100%;
    background: $black;
    z-index: -1;

    .col-md-6 {
      height: 100%;


      .mobile {
        display: none;
        @include media-breakpoint-down(md) { 
        display: block;
        }
      }
    }

    

    .carousel-item {
        // height: 50vh;
        min-height: 675px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include media-breakpoint-down(lg) { 
          height: 100%;
          min-height: 100% !important;
        }
        @include media-breakpoint-down(md) { 
          height: 100%;
          min-height: 100% !important;
          background: none !important;
          background-size: cover !important;
  
         }
       
        // .hero-overlay {
          
        //   // background-color: rgba($blue, $alpha: 0.5);
        //   // background: rgb(8,164,80, 0.7);
        //   // background: linear-gradient(90deg, rgba(8,164,80,1) 36%, rgba(0,165,157,0) 100%);

        // }

        h5 {
          font-weight: 400;
          // font-size: 1.5rem;
          text-align: left;
          // line-height: rem;
          font-family: 'avert-bold';
          color:$secondary;
          background: url('../img/hero--stroke.png') no-repeat right; 
          padding-right: 5rem;

          @include media-breakpoint-down(md) { 
            height: 100%;
            background: none !important;
            background-size: cover !important;
    
           }
        }

        p {
          font-family: 'Fira Sans', sans-serif;
          font-size: 1.2rem;
          // @include media-breakpoint-down(sm){
          //   display: none;}
        }
        
    
      }

      .carousel-control-prev, .carousel-control-next  {
          
          
        span.control-border {
          width: 50px;
          height: 50px;
          padding-top: 0.5rem;
          border-radius: 100%;
          border:1px solid #ccc;
          font-size: 1rem;
        }

      }

      .carousel-indicators .active {
        opacity: 1.0;
        background-color: $primary;

      }

    // .carousel-inner{
    //     height: 50vh;
    // }
    
    
    // .carousel-item img{
    //     height: 100% !important;
    //     width:  100% !important;
    //     opacity: 0.6;
    // }

    // .carousel-caption {
        // top:15%;
        // bottom:auto;
        // left: 15%;
        // // right:45%;
        // right: 30%;
        // padding-top: 6rem;
        // padding-bottom: 5rem;
        // padding-right: 7rem;
        .col-md-6 {
        text-align: left !important;
        padding-top: 15%;

        a {
          color: $white;
          text-decoration: none;
          font-family: 'Fira Sans', sans-serif;
          font-size: 1.2rem;
        }
        

        @include media-breakpoint-down(md){
          top:2%;
          left:13%;
          right:13%;
          margin-bottom: 2rem;
          width: 100%;
          // display: none;
          // background: rgb(8,164,80, 0.8);
        }

        @include media-breakpoint-down(sm){
          bottom:0;
          left:0;
          right: 0;
          top: auto;
          padding-right: 5rem;
          // background: rgb(8,164,80, 0.8);
          padding:1rem;
          margin-bottom: 0;
        }

        .play {
          background:$blue;
        }

    }
}