.intro {
    @include media-breakpoint-down(md){
        padding: 0rem 0.8rem;
    }
    h2 {
        font-family: "AntartidaRounded-Medium";
        font-size: 36px;
        @include media-breakpoint-down(md){
            font-size: 2rem; 
        }
    }
    h3{
        color: $white;
        font-size: calc(1.425rem + 2.1vw);
        display: inline;
        padding-top: 5px;
        font-family: 'avert-bold', sans-serif;
        margin-bottom: 1.5rem !important;
        
       
    }

    p {
        // font-family: 'Fira Sans', sans-serif;
        font-size: 16px;
        color: $white;
    }
    &--teaser {
        min-height: 100%;
        height:300px;
        // background: red;
        .img-fluid {
            max-height: 110px;
        }
        h6 {
            color: $white;
            font-weight: 400;
            font-size: 24px;
            font-family: 'Fira Sans', sans-serif;
        }
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // align-items: end;
        
    }
}
