.products {
    // padding-top:8rem ;
    // ol.page__listing {
    //     li::marker {
    //         font-size: 3rem;
    //         color: $accent;
            
    //     }
    // }
    h1 {
        font-size: calc(10rem + 2.1vw);
        color: $accent;
        line-height: 8rem;
        font-weight: 400;
    }
}